@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
  font-family:'Open Sans';
}
a{
  cursor:pointer;
}
#navBar{
  border-left:1px solid #888888;
  border-top:1px solid white;
  background-color:white;
}
.navbar{
  margin-top:50px;
  height:100px;
  -webkit-box-shadow:0 13px 6px -5px #888888;
  -moz-box-shadow:0 13px 6px -5px #888888;
  box-shadow:0 13px 6px -5px #888888;
  background-color:#339999 !important;
}
.nav-item{
  color:white !important;
}
.nav-item:hover{
  background-color:#40568f;
}
.active{
  text-decoration:underline;
}
aside{
  position:absolute;
  right:20px;
  top:20px;
}
aside > .fa{
  color:#339999;
  font-size:1.3em !important;
}
#left, #right{
  z-index:-1;
  top:0;
  bottom:0;
  width:55px;
  height:;
  background:#eaeaea;
  position:fixed;
  box-shadow:6px 0 15px -4px #888888, -6px 0 8px -4px #888888;
}
#left{
  left:0;
}
#right{
  right:0;
}
#about{
  margin-left:70px;
  margin-top:100px;
  margin-right:70px;
  margin-bottom:150px;
}
#about > h3{
  color:#40568f;
  font-weight:bold;
  text-align:center;
}
#blog{
  margin-left:70px;
  margin-right:70px;
  margin-top:70px;
}
#blog > section > date{
  background-color:#339999;
  color:white;
  font-size:1.2em;
}
#blog > section > img{
  float:right;
}
#blog > section > h3{
  background-color:#40568f;
  color:white;
  font-weight:bold;
}
#blog > section > h4{
  font-weight:bold;
}
#blog > section > p{
  color:#888888;
  font-size:1.1em;
}
.links{
  color:#339999;
  font-weight:bold;
}
.team{
  float:right;
  border-radius:20px;
  margin-right:10px;
}
.bruce{
  float:left;
  margin-left:10px;
}
footer{
  width:100%;
  height:auto;
  background-image:url('../images/footer.jpg');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  bottom:0;
  padding-top:20px;
  margin-top:0;
}
.container{
  position:relative;
  z-index:2;
}
.container > h5{
  font-weight:700;
  font-size:18px;
  color:#69c;
}
address{
  color:#fff;
  font-size:14px;
  line-height:24px;
}
.social{
  margin:0;
  padding:0;
}
.social li{
  list-style:none;
  display:inline;
  font-size:1.5em;
  margin-right:10px;
}
.social li a{
  color:#69c;
}
footer small{
  color:#fff;
  margin-left:25em;
}
footer:after{
  background-position:center center;
  background-repeat:repeat;
  background-color:rgba(64,86,143, .8);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  z-index:1;
  content:'';
}
